<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Drinkable.Local" connectionString="mongodb://localhost:27017"/>
    <add name="Drinkable.Mongolab" connectionString="mongodb://admin:admin@ds036178.mongolab.com:36178/test"/>
  </connectionStrings>
</configuration>